body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #0f6965;
    color: rgb(238, 231, 231);
    padding: 10px;
    text-align: center;
}

main {
    padding: 10px;
}

footer {
    background-color: #333;
    color: rgb(221, 213, 213);
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}