*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
     background: linear-gradient(to right, #929596,#fafdfd, #fafdfd, #adb0b2);
   
   
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background:linear-gradient(to right, #0b0b0b, rgb(43, 233, 236), #f50707, #4cebed,  #000f0f);
    border-radius: 8px;
}
 .box form{
    position:absolute;
    inset:4px;
    background:linear-gradient(to right, #b7dbed, #c8d5d5, #cdd9d9, #b7d8ed);
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h1{
    color: #0a0909;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;

}
.box form .inputbox{
    position: relative;
    width: 300px;
    margin-top: 55px;
}
.box form .inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px ;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: rgb(10, 10, 10);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10; 

}
.box form .inputbox span{
    position: absolute;
    left: 0;
    padding: 20px  px 10px; 
    pointer-events: none;
    color: #0b0b0b;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    box-sizing: border-box; 
}


