fieldset {
  font-size: small;
}
.button1 {
  background-color: #f8a0ec;/* rose */} 

.button2 {
  background-color: #f3f707;
}
/* yellow */
body {
  background-image: url(https://images.pond5.com/abstract-background-reflection-form-1-012281592_prevstill.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  color: red;
  text-shadow: 2px 2px 5px rgb(230, 25, 87);
}

h1 {
  color: rgb(177, 172, 172);
  border-style:dotted solid ;
  margin: 30px;
  background: rgb(150, 150, 139);
  border: 1px solid black;
  outline: 1px solid rgb(92, 79, 167);
  outline-offset: 15px;
}

h2{
  border: 5px solid rgb(17, 20, 211);
  border-radius: 12px;
  padding: 10px;
  color: rgb(143, 145, 151);
  text-shadow: 2px 2px rgb(192, 43, 38);

}

p {
  font-family: 'Times New Roman';
  font-size: 15px;
}

a:link {
  background-color: rgb(32, 201, 54);
}

a:visited {
  background-color: rgb(238, 216, 19);
}

a:hover {
  background-color: rgb(45, 219, 45);
}

a:active {
  background-color: rgb(209, 56, 132);
}
img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

div {
  background-color: rgb(250, 192, 235);
  width: 200px;
  height: 100px;
  border: 1px solid black;
  overflow: scroll;
}
  /* partical{
    position: absolute;
    width:auto;
    height: auto;
 }       
 test{
    position: absolute;
    width:auto;
    height: auto;
    line-height:auto;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
    content: " ";
    display: inline-block;
    position:absolute;
 }
 backround{ 
    position: absolute;
    top: 0;
    height: 100vh;
    width:0 ;
    animation: backround-animetion 2s 
    ease-in-out 4s 1 normal forwards;
 } */